.about-us{
  margin-bottom: 168px;
  
}

.about-us__box{
  padding: 137px 85px;
  background-image: url(../images/hero-bgi.png);
  background-repeat: no-repeat;
}

.about-us__description{
  width: 445px;
}

.about-us__title{
  font-family: "Fraunces", "Times New Roman", serif;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}

.about-us__text{
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}